In [1]:
import textblob

In [2]:
from textblob import TextBlob

In [3]:
text1="i love studying"

In [13]:
sentiment1=TextBlob(text1)

In [15]:
sentiment1.sentiment.polarity

0.5

In [17]:
sentiment1.sentiment.subjectivity

0.6

In [18]:
import pandas as pd

In [22]:
dataset=pd.read_csv("amazon_alexa.tsv" , delimiter="\t")

In [23]:
dataset

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1
...,...,...,...,...,...
3145,5,30-Jul-18,Black Dot,"Perfect for kids, adults and everyone in betwe...",1
3146,5,30-Jul-18,Black Dot,"Listening to music, searching locations, check...",1
3147,5,30-Jul-18,Black Dot,"I do love these things, i have them running my...",1
3148,5,30-Jul-18,White Dot,Only complaint I have is that the sound qualit...,1
3149,4,29-Jul-18,Black Dot,Good,1

In [26]:
dataset.describe()

            rating     feedback
count  3150.000000  3150.000000
mean      4.463175     0.918413
std       1.068506     0.273778
min       1.000000     0.000000
25%       4.000000     1.000000
50%       5.000000     1.000000
75%       5.000000     1.000000
max       5.000000     1.000000

In [27]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3150 entries, 0 to 3149
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rating            3150 non-null   int64
 1   date              3150 non-null   object
 2   variation         3150 non-null   object
 3   verified_reviews  3150 non-null   object
 4   feedback          3150 non-null   int64
dtypes: int64(2), object(3)
memory usage: 123.2+ KB

In [29]:
dataset.describe(include="object")

             date   variation verified_reviews
count        3150        3150             3150
unique         77          16             2301
top     30-Jul-18  Black  Dot
freq         1603         516               79

In [30]:
dataset["variation"].value_counts()

Black  Dot                      516
Charcoal Fabric                 430
Configuration: Fire TV Stick    350
Black  Plus                     270
Black  Show                     265
Black                           261
Black  Spot                     241
White  Dot                      184
Heather Gray Fabric             157
White  Spot                     109
White                            91
Sandstone Fabric                 90
White  Show                      85
White  Plus                      78
Oak Finish                       14
Walnut Finish                     9
Name: variation, dtype: int64

In [33]:
dataset["verified_reviews"].head()

0                                        Love my Echo!
1                                            Loved it!
2    Sometimes while playing a game, you can answer...
3    I have had a lot of fun with this thing. My 4 ...
4                                                Music
Name: verified_reviews, dtype: object

In [48]:
dataset["Length"]=dataset["verified_reviews"].apply(len)

In [49]:
dataset.columns

Index(['rating', 'date', 'variation', 'verified_reviews', 'feedback', 'Lenght',
       'Poloarity', 'Subjectivity', 'Length'],
      dtype='object')

In [50]:
def get_sentiment_polarity(text):
    mytextblob=TextBlob(text)
    mypolarity=mytextblob.sentiment.polarity
    return mypolarity

In [61]:
dataset["Polarity"]=dataset["verified_reviews"].apply( get_sentiment_polarity)

In [62]:
dataset.columns

Index(['rating', 'date', 'variation', 'verified_reviews', 'feedback', 'Lenght',
       'Poloarity', 'Subjectivity', 'Length', 'Polarity'],
      dtype='object')

In [63]:
def get_sentiment_subjectivity(text):
    mytextblob=TextBlob(text)
    mysubjectivity=mytextblob.sentiment.subjectivity
    return mysubjectivity

In [64]:
dataset["Subjectivity"]=dataset["verified_reviews"].apply( get_sentiment_subjectivity)

In [65]:
dataset.columns

Index(['rating', 'date', 'variation', 'verified_reviews', 'feedback', 'Lenght',
       'Poloarity', 'Subjectivity', 'Length', 'Polarity'],
      dtype='object')

In [66]:
dataset

,rating,date,variation,verified_reviews,feedback,Lenght,Poloarity,Subjectivity,Length,Polarity
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1,13,0.625000,0.600000,13,0.625000
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1,9,0.875000,0.800000,9,0.875000
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1,195,-0.100000,0.512500,195,-0.100000
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1,172,0.350000,0.450000,172,0.350000
4,5,31-Jul-18,Charcoal Fabric,Music,1,5,0.000000,0.000000,5,0.000000
...,...,...,...,...,...,...,...,...,...,...
3145,5,30-Jul-18,Black Dot,"Perfect for kids, adults and everyone in betwe...",1,50,1.000000,1.000000,50,1.000000
3146,5,30-Jul-18,Black Dot,"Listening to music, searching locations, check...",1,135,0.333333,0.452381,135,0.333333
3147,5,30-Jul-18,Black Dot,"I do love these things, i have them running my...",1,441,0.237662,0.533766,441,0.237662
3148,5,30-Jul-18,White Dot,Only complaint I have is that the sound qualit...,1,380,0.316667,0.632099,380,0.316667
3149,4,29-Jul-18,Black Dot,Good,1,4,0.700000,0.600000,4,0.700000

In [67]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3150 entries, 0 to 3149
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rating            3150 non-null   int64
 1   date              3150 non-null   object
 2   variation         3150 non-null   object
 3   verified_reviews  3150 non-null   object
 4   feedback          3150 non-null   int64
 5   Lenght            3150 non-null   int64
 6   Poloarity         3150 non-null   float64
 7   Subjectivity      3150 non-null   float64
 8   Length            3150 non-null   int64
 9   Polarity          3150 non-null   float64
dtypes: float64(3), int64(4), object(3)
memory usage: 246.2+ KB

In [68]:
dataset[["Length","Polarity","Subjectivity"]].describe()

            Length     Polarity  Subjectivity
count  3150.000000  3150.000000   3150.000000
mean    132.049524     0.349786      0.528988
std     182.099952     0.303308      0.256261
min       1.000000    -1.000000      0.000000
25%      30.000000     0.123852      0.419196
50%      74.000000     0.350000      0.584848
75%     165.000000     0.533333      0.694444
max    2851.000000     1.000000      1.000000